.main-title-animated__wrapper {
  padding-top: 5rem;
}

.flipy {
  -webkit-animation-name: spin, depth;
  animation-name: spin, depth;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

@-webkit-keyframes depth {
  0% {
    text-shadow: 0 0 #121212;
  }
  25% {
    text-shadow: 1px 0 #121212, 2px 0 #121212, 3px 0 #121212, 4px 0 #121212,
      5px 0 #121212;
  }
  50% {
    text-shadow: 0 0 #121212;
  }
  75% {
    text-shadow: -1px 0 #121212, -2px 0 #121212, -3px 0 #121212, -4px 0 #121212,
      -5px 0 #121212;
  }
  100% {
    text-shadow: 0 0 #121212;
  }
}

@keyframes depth {
  0% {
    text-shadow: 0 0 #121212;
  }
  25% {
    text-shadow: 1px 0 #121212, 2px 0 #121212, 3px 0 #121212, 4px 0 #121212,
      5px 0 #121212;
  }
  50% {
    text-shadow: 0 0 #121212;
  }
  75% {
    text-shadow: -1px 0 #121212, -2px 0 #121212, -3px 0 #121212, -4px 0 #121212,
      -5px 0 #121212;
  }
  100% {
    text-shadow: 0 0 #121212;
  }
}

.gradient {
  background: -o-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  height: 100vh;
  margin: auto;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.comments-wrapper {
  margin: 2rem;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
  padding: 1em;
}

.gallery-point {
  height: 50vh;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.title-quote {
  font-size: 1rem;
  margin-top: 0.33rem;
}

.gallery-image {
  max-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: bottom;
  padding: 1em;
  -webkit-filter: grayscale(67%) sepia(33%);
  filter: grayscale(67%) sepia(33%);
}

.gallery-image:hover {
  -webkit-filter: grayscale(0%) sepia(0%);
  filter: grayscale(0%) sepia(0%);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-wrapper {
  margin: 1rem;
}

.form-wrapper textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 69vh;
  resize: vertical;
  background-color: #eaeaea;
}

.form-wrapper textarea:focus {
  outline: none !important;
  border-color: #482ff7;
  -webkit-box-shadow: 0 0 10px #482ff7;
  box-shadow: 0 0 10px #482ff7;
}

.form-header {
  font-weight: bold;
  font-size: 3rem;
}

.form-button {
  color: #969892;
  border-radius: 2px;
  border-style: solid;
  border-color: #969892;
  border-width: 0.5px;
  cursor: pointer;
}

.form-button:hover {
  opacity: 1;
  color: #121212;
  border-color: #121212;
  background-color: #969892;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main-title {
  margin: auto;
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
  font-weight: bold;
}

.emoji-table {
  margin: auto;
  text-align: center;
}

.feedback-wrapper {
  width: 66%;
  padding: 2rem;
  margin: auto;
  margin-bottom: 1rem;
  background-color: #f7f7f7;
  border-color: #969892;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
}

.text-wrapper {
  width: 50%;
  padding: 2rem;
  margin: auto;
  background-color: #f7f7f7;
  border-color: #969892;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
  .text-wrapper {
    width: 100%;
    padding: 1rem;
    margin: auto;
    background-color: #f7f7f7;
    border-color: #969892;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
  }
}

.video-wrapper {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.video-wrapper iframe {
  margin: auto;
}

.map-wrapper {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.map-wrapper iframe {
  margin: auto;
}

.bibliography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bibliography-header {
  padding: 1rem;
  margin: auto;
  font-size: 2rem;
  font-style: bold;
}

.bibliography-cite {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.bibliography-list {
  display: list-item;
}
